<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nekitori17">
  <meta name="description" content="Really Bad API For Funny">
  <meta name="keywords" content="Api, Neki, Nekitori17, python, 17">
  <title>Nekitori17's API - Document</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

</body>
</html>